.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

div.main {
	background-color: #C0C0C0;
	width: 900px;
	margin: auto;
	}

p {
	background-color: #C0C0C0;
	}
	
h1 {
	background-color: #C0C0C0;
	}
	
html {
    background: url(https://cloud.githubusercontent.com/assets/6117779/12494085/d50b65b6-c0a1-11e5-824b-79ddf412125d.jpg) no-repeat center fixed;
    background-size: auto;
    margin: auto;
} 
