.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }

.button:hover {
    background-color: white; /* Green */
    color: #4CAF50;
    }


.strticon {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: red;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: example;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: example;
    -webkit-animation-timing-function: ease-in-out;
    }

@keyframes example {
    0%   {background-color: red; left:20%; transform:rotate(0deg);}
    50%  {background-color: yellow; left:80%; transform:rotate(1260deg);}
    100% {background-color: red; left:20%; transform:rotate(0deg);}
    }
    
@-webkit-keyframes example {
    0%   {background-color: red; left:20%; -webkit-transform:rotate(0deg);}
    50%  {background-color: yellow; left:80%; -webkit-transform:rotate(1260deg);}
    100% {background-color: red; left:20%; -webkit-transform:rotate(0deg);}
    }


