div.main {
	background-color: #C0C0C0;
	width: 900px;
	margin: auto;
	}

p {
	background-color: #C0C0C0;
	}
	
h1 {
	background-color: #C0C0C0;
	}
	
html {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(224,224,224,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(224,224,224,.1) 15%, transparent 20%) 8px 9px;
	background-color:#D0D0D0;
	background-size:16px 16px;
    !background: url(https://cloud.githubusercontent.com/assets/6117779/12874948/7beca648-cdf8-11e5-99b5-70bf6897506a.jpg) no-repeat center fixed;
    !background-size: cover;
    !margin: auto;
} 
